<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="building-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Building Supplies
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="building-link">
                <a href="{% url 'products' %}?category=adhesives" class="dropdown-item">Abrasives &amp; Adhesives</a>
                <a href="{% url 'products' %}?category=insulation" class="dropdown-item">Dry Lining &amp; Insulation</a>
                <a href="{% url 'products' %}?category=fixings" class="dropdown-item">Fastenings &amp; Fixings</a>
                <a href="{% url 'products' %}?category=fencing" class="dropdown-item">Fencing</a>
                <a href="{% url 'products' %}?category=landscaping" class="dropdown-item">Landscaping</a>
                <a href="{% url 'products' %}?category=timber" class="dropdown-item">Timber</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="tools-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tools and Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="tools-link">
                <a href="{% url 'products' %}?category=blades" class="dropdown-item">Blades &amp; Discs &amp; Drill Bits</a>
                <a href="{% url 'products' %}?category=tools" class="dropdown-item">Hand Tools &amp; Power Tools</a>
                <a href="{% url 'products' %}?category=blades,tools" class="dropdown-item">All Tools</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="ppe-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                PPE, Safety and Workwear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="ppe-link">
                <a href="{% url 'products' %}?category=ppe" class="dropdown-item">PPE</a>
                <a href="{% url 'products' %}?category=safety" class="dropdown-item">Safety Items</a>
                <a href="{% url 'products' %}?category=workwear" class="dropdown-item">Workwear</a>
                <a href="{% url 'products' %}?category=ppe,safety,workwear" class="dropdown-item">All PPE</a>
            </div>
        </li>
    </ul>
</div>